@charset "UTF-8";

/*todas as demais mídias*/
/*typical device brakepoints
pequenas telas
celular: de 600px ate 768px
tablet: de 769px ate 992px
desktop: de 993px até 1200px
grandes telas: acima de 1200px



*/

@media print{ /*impressão*/
    body{
       font-family: 'Courier New', Courier, monospace;
       text-shadow: none;
       color: black;
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: block;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:992px) { /*tablet*/
 
    body{
        background-image:url(../imagens/back-tablet.jpg);
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: block;
    }
    img#print{
        display: none;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: none;
    }
} 

@media screen and (min-width:992px) and (max-width:1499px) {  /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: block;
    }
}

@media screen and(min-width:1500px) { /*grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#tv{
        display: block;
    }
    img#pc{
        display: none;
    }
    
}



